body {
   max-width: 800px;
   background-color: #faf0dc;
   font-family: Arial, sans-serif;
   color: black;
}

h1 {
   text-align: center;
   color: #a4161a;
   font-size: 32px;
   margin-bottom: 20px;
}

h2 {
   color: #5f5e5e;
   font-size: 24px;
   margin-bottom: 15px;
}

img{
   align-items: center;
   border-radius: 5px;
   margin-bottom: 15px;
}
form {
}